# CSC 221 Group Project Part 1: Web Scraping
**Student:** Jeff Gillette  
**Collaborator:** Jad Sahmad  
**Date:** 11/20/2025  
**Class:** CSC 221-0001  
**Professor:** Mr. Jim Matlock

## Project Overview

The purpose of this project is to practice web scraping information from a website to a CSV file. I will begin by scraping data from [the CDC's report on provisional cancer death counts from 2020-2021](https://data.cdc.gov/National-Center-for-Health-Statistics/AH-Provisional-Cancer-Death-Counts-by-Month-and-Ye/2na8-fe6s/data_preview). Fortunately, this website has a clear API endpoint provided. It uses Socrata to handle its API requests, requiring a unique App Token instead of an API Key like we've used in the past. Luckily, it is as easy as creating a Tyler Technologies account and hitting ["Sign up for an app token"](https://dev.socrata.com/foundry/data.cdc.gov/2na8-fe6s) (this link also includes the **data dictionary**). The reason I am getting an App Token and not an API key is because, in order to limit the amount of requests, Socrata has developed OAuth 3.0, requiring me to use ["X-App-Token" as an HTTP Header](https://dev.socrata.com/docs/app-tokens.html). Because of this, it isn't necessary to include an ``Accept`` header.

# Pulling JSON

## Step 1: Import the necessary libraries

The libraries being used in this first part are Requests and Pandas.

In [6]:
import requests
import pandas as pd

## Step 2: Set the App Token and URL

In [8]:
# App Token
app_token = "QKAxRc5C3H5rzb19RimBbzfsO"

#API endpoint
url = "https://data.cdc.gov/api/v3/views/2na8-fe6s/query.json"

## Step 3: Set the X-App-Token header

In [10]:
headers = {
    "X-App-Token": app_token
}

## Step 4: Pull the JSON

In [12]:
response = requests.get(url, headers=headers)
data = response.json()
print("CDC cancer deaths JSON:", data)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

## Step 5: Assign JSON data to a Pandas DataFrame

In [14]:
df = pd.DataFrame(data)
df.head(10)

,:id,:version,:created_at,:updated_at,data_as_of,start_date,end_date,country,year,month,...,malignant_neoplasm_of_breast,malignant_neoplasm_of_cervix,malignant_neoplasms_of_corpus,malignant_neoplasm_of_ovary,malignant_neoplasm_of_prostate,malignant_neoplasms_of_kidney,malignant_neoplasm_of_bladder,malignant_neoplasms_of,malignant_neoplasms_of_1,all_other_and_unspecified
0,row-3jkh.dkmk~bsuu,rv-i3vx~2fbk.sc96,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-03-01T00:00:00.000,2020-03-31T00:00:00.000,United States,2020,3,...,0,0,0,0,0,0,0,0,0,0
1,row-6585_5mvc_cv3y,rv-d8fk_4qp7-mfqs,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-04-01T00:00:00.000,2020-04-30T00:00:00.000,United States,2020,4,...,0,0,0,0,0,0,0,0,0,0
2,row-3zk8-ttyn_3aak,rv-fyh4.mka6_bm8y,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-05-01T00:00:00.000,2020-05-31T00:00:00.000,United States,2020,5,...,0,0,0,0,0,0,0,0,0,0
3,row-bx28~ta6w.mpi4,rv-myp6.xgmj.it4c,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-01-01T00:00:00.000,2020-01-31T00:00:00.000,United States,2020,1,...,0,0,0,0,0,0,0,5,4,5
4,row-psfu-bkf5-9rte,rv-ie2f.5qfx_p6ys,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-02-01T00:00:00.000,2020-02-29T00:00:00.000,United States,2020,2,...,0,0,0,0,0,1,0,8,3,5
5,row-4tpz~vu38~mj39,rv-pv8m.j8nz.ktm2,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-03-01T00:00:00.000,2020-03-31T00:00:00.000,United States,2020,3,...,0,0,0,0,0,0,0,5,2,2
6,row-trjb_bk23.kqw9,rv-3ecp_8ag3.5wkg,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-04-01T00:00:00.000,2020-04-30T00:00:00.000,United States,2020,4,...,0,0,0,0,0,0,0,4,6,5
7,row-pn84~mktk~ta3b,rv-qr8x_hseq-kahf,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-05-01T00:00:00.000,2020-05-31T00:00:00.000,United States,2020,5,...,0,0,0,0,0,0,0,3,6,1
8,row-hgrj-kxqt_2smp,rv-edhu.ybic.g3hi,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-06-01T00:00:00.000,2020-06-30T00:00:00.000,United States,2020,6,...,0,0,0,0,0,0,0,4,2,5
9,row-9ehq~j7vr.fsnf,rv-5bzb-asrg~h6j2,2021-11-23T19:20:14.480Z,2021-11-23T19:20:14.480Z,2021-11-23T00:00:00.000,2020-07-01T00:00:00.000,2020-07-31T00:00:00.000,United States,2020,7,...,0,0,0,0,0,0,0,3,6,6

# Preprocessing

## Step 6: Drop unecessary columns
Now I can start the preprocessing cleanup. There are a lot of unnecessary variables in this that I want to get rid of in order to simplify the CSV. I'll drop the labels ``:id``, ``:version``, ``:created_at``, ``:updated_at``, and ``data_as_of``. [Here is the documentation I used to find out how to drop these labels.](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) I'll create a list of the columns I want to drop, and then pass that list through Pandas' ``.drop()`` method. I'm ignoring any errors that arise so I will drop only the variables I have specified.

In [17]:
cols_to_drop = [":id", ":version", ":created_at", ":updated_at", "data_as_of"]
df = df.drop(columns=cols_to_drop, errors='ignore')
df.head(10)

,start_date,end_date,country,year,month,sex,age_group,race_and_hispanic_origin,malignant_neoplasms_c00_c97,malignant_neoplasms_of_lip,...,malignant_neoplasm_of_breast,malignant_neoplasm_of_cervix,malignant_neoplasms_of_corpus,malignant_neoplasm_of_ovary,malignant_neoplasm_of_prostate,malignant_neoplasms_of_kidney,malignant_neoplasm_of_bladder,malignant_neoplasms_of,malignant_neoplasms_of_1,all_other_and_unspecified
0,2020-03-01T00:00:00.000,2020-03-31T00:00:00.000,United States,2020,3,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-01T00:00:00.000,2020-04-30T00:00:00.000,United States,2020,4,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-05-01T00:00:00.000,2020-05-31T00:00:00.000,United States,2020,5,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-01T00:00:00.000,2020-01-31T00:00:00.000,United States,2020,1,Female (F),0-14 years,Hispanic,14,0,...,0,0,0,0,0,0,0,5,4,5
4,2020-02-01T00:00:00.000,2020-02-29T00:00:00.000,United States,2020,2,Female (F),0-14 years,Hispanic,17,0,...,0,0,0,0,0,1,0,8,3,5
5,2020-03-01T00:00:00.000,2020-03-31T00:00:00.000,United States,2020,3,Female (F),0-14 years,Hispanic,10,1,...,0,0,0,0,0,0,0,5,2,2
6,2020-04-01T00:00:00.000,2020-04-30T00:00:00.000,United States,2020,4,Female (F),0-14 years,Hispanic,16,0,...,0,0,0,0,0,0,0,4,6,5
7,2020-05-01T00:00:00.000,2020-05-31T00:00:00.000,United States,2020,5,Female (F),0-14 years,Hispanic,10,0,...,0,0,0,0,0,0,0,3,6,1
8,2020-06-01T00:00:00.000,2020-06-30T00:00:00.000,United States,2020,6,Female (F),0-14 years,Hispanic,11,0,...,0,0,0,0,0,0,0,4,2,5
9,2020-07-01T00:00:00.000,2020-07-31T00:00:00.000,United States,2020,7,Female (F),0-14 years,Hispanic,16,0,...,0,0,0,0,0,0,0,3,6,6

## Step 7: Convert Dates to Datetime
Right now, the columns ``start_date`` and ``end_date`` are strings. I'll convert them to Datetime objects using [Pandas' ``.to_datetime()`` method](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html). This will allow them to be used more easily in future DataFrame manipulation and the Matplotlib/Seaborn analysis.

In [19]:
df["start_date"] = pd.to_datetime(df["start_date"])
df["end_date"] = pd.to_datetime(df["end_date"])
display(df.head(5))
display(df.dtypes)

,start_date,end_date,country,year,month,sex,age_group,race_and_hispanic_origin,malignant_neoplasms_c00_c97,malignant_neoplasms_of_lip,...,malignant_neoplasm_of_breast,malignant_neoplasm_of_cervix,malignant_neoplasms_of_corpus,malignant_neoplasm_of_ovary,malignant_neoplasm_of_prostate,malignant_neoplasms_of_kidney,malignant_neoplasm_of_bladder,malignant_neoplasms_of,malignant_neoplasms_of_1,all_other_and_unspecified
0,2020-03-01,2020-03-31,United States,2020,3,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-01,2020-04-30,United States,2020,4,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-05-01,2020-05-31,United States,2020,5,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-01,2020-01-31,United States,2020,1,Female (F),0-14 years,Hispanic,14,0,...,0,0,0,0,0,0,0,5,4,5
4,2020-02-01,2020-02-29,United States,2020,2,Female (F),0-14 years,Hispanic,17,0,...,0,0,0,0,0,1,0,8,3,5

start_date                        datetime64[ns]
end_date                          datetime64[ns]
country                                   object
year                                      object
month                                     object
sex                                       object
age_group                                 object
race_and_hispanic_origin                  object
malignant_neoplasms_c00_c97               object
malignant_neoplasms_of_lip                object
malignant_neoplasm_of                     object
malignant_neoplasm_of_stomach             object
malignant_neoplasms_of_colon              object
malignant_neoplasms_of_liver              object
malignant_neoplasm_of_pancreas            object
malignant_neoplasm_of_larynx              object
malignant_neoplasms_of_trachea            object
malignant_melanoma_of_skin                object
malignant_neoplasm_of_breast              object
malignant_neoplasm_of_cervix              object
malignant_neoplasms_of_corpus             object
malignant_neoplasm_of_ovary               object
malignant_neoplasm_of_prostate            object
malignant_neoplasms_of_kidney             object
malignant_neoplasm_of_bladder             object
malignant_neoplasms_of                    object
malignant_neoplasms_of_1                  object
all_other_and_unspecified                 object
dtype: object

While making sure the ``start_date`` and ``end_date`` variables were successfully converted to datetime objects, I found out every variable is an object type, which I'll need to change in order to manipulate them later. After a little research, I found [the ``.to_numeric()`` method](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html) in the Pandas documentation which will convert all of the objects into float types. I can then convert them from floats into int64 types. I wanted to get a bit more practice with lambda functions before the final exam, so after some trial and error I found a way to convert all of my ``malignant_neoplasm`` variables from objects to integers so that they can be used in analysis later. ``df.columns`` will create a Pandas Index object, so in order to concatonate it with ``year`` and ``month``, I have to convert it to a list using ``.tolist()``. Afterwards, it's converted back into a DataFrame object through ``df[numeric_cols]``, so in order to *"apply"* my lambda function to it I'll use the [Pandas ``.apply()`` method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) which will let me iterate through my DataFrame column by column and apply the changes. I can also achieve the same result by writing a traditional loop, but like I said, I wanted to get more practice writing lambda functions.

In [45]:
# Convert month, year, and all cancer classification columns to numeric
numeric_cols = ["year", "month"] + df.columns[8:].tolist() # convert df.columns from Pandas Index to a list so it can be concatonated with year and month
df[numeric_cols] = df[numeric_cols].apply(
    lambda col: pd.to_numeric(col, errors="coerce") # coerce will set NaN values to objects that were not able to be parsed
).astype("Int64") # set all changed columns from floats to Int64
df.dtypes

country                           object
year                               Int64
month                              Int64
start_date                datetime64[ns]
end_date                  datetime64[ns]
sex                               object
age                               object
race                              object
total_number_of_tumors             Int64
num_tumors_lip                     Int64
num_tumors_esophagus               Int64
num_tumors_stomach                 Int64
num_tumors_colon                   Int64
num_tumors_liver                   Int64
num_tumors_pancreas                Int64
num_tumors_larynx                  Int64
num_tumors_lung                    Int64
num_tumors_skin                    Int64
num_tumors_breast                  Int64
num_tumors_cervix                  Int64
num_tumors_uterus                  Int64
num_tumors_ovary                   Int64
num_tumors_prostate                Int64
num_tumors_kidney                  Int64
num_tumors_bladder                 Int64
num_tumors_cns                     Int64
num_tumors_lymph                   Int64
other_or_unknown                   Int64
dtype: object

## Step 8: Rename and reorder columns for better legibility
Frankly, the naming convention of these variables is a mess. There are several medical terminologies that are most likely not accessible to a lot of people. For instance, the reason ``malignant_neoplasm`` is being use is because you can have malignant or benign neoplasms (tumor), but the skin cancer variable breaks the established naming convention by being labeled as ``malignant_melanoma``, which "melanoma" is specifically a malignant neoplasm already. There are also inconsistencies in the labeling of variables. For instance, ``malignant_neoplasm_of`` refers to esophageal cancer, and ``malignant_neoplasms_of`` refers to brain, meningeal, and Central Nervous System (CNS) cancer. ``malignant_neoplasms_of_1`` is refering to cancer in lymphatic and hematopoietic systems as well as other related tissues like bone marrow. However, this isn't apparent by the label. This is why I want to rename all of the variables to something that is better understood by users. The variables are also very comprehensive, incorporating cancers in many related areas into a single variable. The **data dictionary** (see Overview section) helped me decide how to name these.

In [23]:
# renamed columns
df = df.rename(columns ={
    "age_group": "age",
    "race_and_hispanic_origin": "race",
    "malignant_neoplasms_c00_c97": "total_number_of_tumors",
    "malignant_neoplasms_of_lip": "num_tumors_lip",
    "malignant_neoplasm_of": "num_tumors_esophagus",
    "malignant_neoplasm_of_stomach": "num_tumors_stomach",
    "malignant_neoplasms_of_colon": "num_tumors_colon",
    "malignant_neoplasms_of_liver": "num_tumors_liver",
    "malignant_neoplasm_of_pancreas": "num_tumors_pancreas",
    "malignant_neoplasm_of_larynx": "num_tumors_larynx",
    "malignant_neoplasms_of_trachea": "num_tumors_lung",
    "malignant_melanoma_of_skin": "num_tumors_skin",
    "malignant_neoplasm_of_breast": "num_tumors_breast",
    "malignant_neoplasm_of_cervix": "num_tumors_cervix",
    "malignant_neoplasms_of_corpus": "num_tumors_uterus",
    "malignant_neoplasm_of_ovary": "num_tumors_ovary",
    "malignant_neoplasm_of_prostate": "num_tumors_prostate",
    "malignant_neoplasms_of_kidney": "num_tumors_kidney",
    "malignant_neoplasm_of_bladder": "num_tumors_bladder",
    "malignant_neoplasms_of": "num_tumors_cns",
    "malignant_neoplasms_of_1": "num_tumors_lymph",
    "all_other_and_unspecified": "other_or_unknown"    
})

# Rearrange columns at the front of the DataFrame, iterate through the other unsorted columns
reordered_cols = ["country", "year", "month", "start_date", "end_date"]
df = df[reordered_cols + [col for col in df.columns if col not in reordered_cols]]
df.head(5)

,country,year,month,start_date,end_date,sex,age,race,total_number_of_tumors,num_tumors_lip,...,num_tumors_breast,num_tumors_cervix,num_tumors_uterus,num_tumors_ovary,num_tumors_prostate,num_tumors_kidney,num_tumors_bladder,num_tumors_cns,num_tumors_lymph,other_or_unknown
0,United States,2020,3,2020-03-01,2020-03-31,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
1,United States,2020,4,2020-04-01,2020-04-30,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
2,United States,2020,5,2020-05-01,2020-05-31,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
3,United States,2020,1,2020-01-01,2020-01-31,Female (F),0-14 years,Hispanic,14,0,...,0,0,0,0,0,0,0,5,4,5
4,United States,2020,2,2020-02-01,2020-02-29,Female (F),0-14 years,Hispanic,17,0,...,0,0,0,0,0,1,0,8,3,5

## Step 9: Remove duplicates

In [25]:
df = df.drop_duplicates() # There shouldn't be any duplicates, but it's a good practice in preprocessing to do it anyway

## Step 10: Quick EDA before saving CSV
With the data all cleaned up, I'll do one last sweep to make sure everything's alright. I'll do a very basic EDA on it and look at some statistics that might be relevent in the next part.

In [51]:
total_deaths = df["total_number_of_tumors"].count() # since every row indicates a death, I'll just count all the rows using an arbitrary variable
num_female = (df["sex"] == "Female (F)").sum()
num_male = (df["sex"] == "Male (M)").sum()
age_counts = df["age"].value_counts() # will return counts for every age classification
cancer_cols = df.columns[8:]
cancer_totals = df[cancer_cols].sum(axis=0) # axis=0 will sum up all values in each column, axis=1 would sum up across each row

display(df.head(10))
print("Shape of DF:", df.shape)
print("Description of DF:\n", df.describe())
print("Total number of deaths:", total_deaths) # we can verify this number by looking at the x value in df.shape
print("Total number of Female deaths:", num_female)
print("Total number of Male deaths:", num_male)
print("Deaths in each age group:\n", age_counts)
print("Cancer Type totals:\n", cancer_totals)

,country,year,month,start_date,end_date,sex,age,race,total_number_of_tumors,num_tumors_lip,...,num_tumors_breast,num_tumors_cervix,num_tumors_uterus,num_tumors_ovary,num_tumors_prostate,num_tumors_kidney,num_tumors_bladder,num_tumors_cns,num_tumors_lymph,other_or_unknown
0,United States,2020,3,2020-03-01,2020-03-31,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
1,United States,2020,4,2020-04-01,2020-04-30,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
2,United States,2020,5,2020-05-01,2020-05-31,Female (F),0-14 years,Unknown,0,0,...,0,0,0,0,0,0,0,0,0,0
3,United States,2020,1,2020-01-01,2020-01-31,Female (F),0-14 years,Hispanic,14,0,...,0,0,0,0,0,0,0,5,4,5
4,United States,2020,2,2020-02-01,2020-02-29,Female (F),0-14 years,Hispanic,17,0,...,0,0,0,0,0,1,0,8,3,5
5,United States,2020,3,2020-03-01,2020-03-31,Female (F),0-14 years,Hispanic,10,1,...,0,0,0,0,0,0,0,5,2,2
6,United States,2020,4,2020-04-01,2020-04-30,Female (F),0-14 years,Hispanic,16,0,...,0,0,0,0,0,0,0,4,6,5
7,United States,2020,5,2020-05-01,2020-05-31,Female (F),0-14 years,Hispanic,10,0,...,0,0,0,0,0,0,0,3,6,1
8,United States,2020,6,2020-06-01,2020-06-30,Female (F),0-14 years,Hispanic,11,0,...,0,0,0,0,0,0,0,4,2,5
9,United States,2020,7,2020-07-01,2020-07-31,Female (F),0-14 years,Hispanic,16,0,...,0,0,0,0,0,0,0,3,6,6

Shape of DF: (2816, 28)
Description of DF:
               year     month                     start_date  \
count       2816.0    2816.0                           2816
mean   2020.454545  6.045455  2020-11-15 10:54:32.727272704
min         2020.0       1.0            2020-01-01 00:00:00
25%         2020.0       3.0            2020-06-01 00:00:00
50%         2020.0       6.0            2020-11-16 00:00:00
75%         2021.0       9.0            2021-05-01 00:00:00
max         2021.0      12.0            2021-10-01 00:00:00
std       0.498018  3.240627                            NaN

                            end_date  total_number_of_tumors  num_tumors_lip  \
count                           2816                  2816.0          2816.0
mean   2020-12-14 21:49:05.454545408              389.432173        7.144531
min              2020-01-31 00:00:00                     0.0             0.0
25%              2020-06-30 00:00:00                     3.0             0.0
50%              2020-12-15 12:00:00                    16.0             0.0
75%              2021-05-31 00:00:00                  111.25             2.0
max              2021-10-31 00:00:00                  9844.0           201.0
std                              NaN             1354.755319       25.974808

       num_tumors_esophagus  num_tumors_stomach  num_tumors_colon  \
count                2816.0              2816.0            2816.0
mean              10.155185            7.185369         34.535866
min                     0.0                 0.0               0.0
25%                     0.0                 0.0               0.0
50%                     0.0                 0.0               1.0
75%                     2.0                 5.0              14.0
max                   341.0               162.0             844.0
std               43.161604           18.599769        110.658681

       num_tumors_liver  ...  num_tumors_breast  num_tumors_cervix  \
count            2816.0  ...             2816.0             2816.0
mean          18.288707  ...          27.561435           2.785866
min                 0.0  ...                0.0                0.0
25%                 0.0  ...                0.0                0.0
50%                 1.0  ...                0.0                0.0
75%                 6.0  ...                3.0                0.0
max               436.0  ...             1218.0               66.0
std           56.815073  ...          122.43749            8.67388

       num_tumors_uterus  num_tumors_ovary  num_tumors_prostate  \
count             2816.0            2816.0               2816.0
mean              7.8125          8.677912            21.068537
min                  0.0               0.0                  0.0
25%                  0.0               0.0                  0.0
50%                  0.0               0.0                  0.0
75%                  0.0               1.0                  0.0
max                314.0             392.0               1482.0
std            34.125456         41.244421           128.939985

       num_tumors_kidney  num_tumors_bladder  num_tumors_cns  \
count             2816.0              2816.0          2816.0
mean            9.224787           10.802912       11.596946
min                  0.0                 0.0             0.0
25%                  0.0                 0.0             0.0
50%                  0.0                 0.0             1.0
75%                  2.0                 1.0             6.0
max                313.0               619.0           237.0
std             33.83665           56.351446       35.718365

       num_tumors_lymph  other_or_unknown
count            2816.0            2816.0
mean          37.128906         49.882102
min                 0.0               0.0
25%                 0.0               0.0
50%                 2.0               3.0
75%                11.0              17.0
max              1263.0            1331.0
std          147.814941        177.858385

[8 rows x 24 columns]
Total number of deaths: 2816
Total number of Female deaths: 1408
Total number of Male deaths: 1408
Deaths in each age group:
 age
0-14 years           352
15-24 years          352
25-34 years          352
35-44 years          352
55-64 years          352
45-54 years          352
65-74 years          352
75 years and over    352
Name: count, dtype: int64
Cancer Type totals:
 total_number_of_tumors    1096641
num_tumors_lip              20119
num_tumors_esophagus        28597
num_tumors_stomach          20234
num_tumors_colon            97253
num_tumors_liver            51501
num_tumors_pancreas         85924
num_tumors_larynx            6947
num_tumors_lung            245783
num_tumors_skin             14981
num_tumors_breast           77613
num_tumors_cervix            7845
num_tumors_uterus           22000
num_tumors_ovary            24437
num_tumors_prostate         59329
num_tumors_kidney           25977
num_tumors_bladder          30421
num_tumors_cns              32657
num_tumors_lymph           104555
other_or_unknown           140468
dtype: Int64

## Step 11: Create CSV file

In [29]:
df.to_csv("cancer_death_counts_2020_2021.csv", index=False)
print('File "cancer_death_counts_2020_2021.csv" has been created')

File "cancer_death_counts_2020_2021.csv" has been created

# Steps going forward to Part 2
With preprocessing done and the data cleaned and organized, we're ready to move on to Part 2. There are several ways we can explore this data:
- Number of cancer deaths per cancer type, age, sex, race
- Amount of tumors per age, sex, race
- Death rate based on number and location of tumors
- Which cancer types have the most tumors?
- Rates of cancer in men vs women
    - We wouldn't expect prostate cancer in women, or breast/cervical/uterine/ovarian cancer in men
- Months which had the highest rates of cancer death
    - This dataset is from 2020-2021 during COVID-19, we may see high rates of tracheal/bronchial/lung cancer

There are also several ways we can interpret what we learn from this data, like:
- Susceptability to different types of cancer based on ethnicity, age, or sex
- Possible economic factors based on race or sex
- Relationship of number and location of tumors to death rates  

And other interpretations as well. Unfortunately CDC does not provide geolocational data with this dataset so things like economic factors in the development of cancer are harder to analyze.

## <u>Suggestions</u>
I highly recommend using Seaborn for the charts and Matplotlib for the titles and axis labels. It may help to use the [Pandas ``.melt()`` method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.melt.html) so the DataFrame can be used more easily with Matplotlib or Seaborn for certain analysis. This will flatten the DataFrame from a wide to a long format, with columns for identifier variables and measured variables. For instance, assign variables like ``country``, ``year``, ``month``, ``sex``, ``age``, etc to the ``id_vars`` (identifier variable) parameter, and then something like ``cancer_type`` to the ``var_name`` parameter, and maybe ``total_deaths`` to the ``value_name`` parameter. This way you can easily plug it into a [Seaborn Lineplot](https://seaborn.pydata.org/generated/seaborn.lineplot.html) by using something like ``sns.lineplot(data=melted_df, x='year', y='deaths')``.

# End of Part 1